<body>
    <app-navbar></app-navbar>


    <div class="row contenitore">
        <div class="card profile-card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <img src="/assets/images/user.jpg" alt="Admin" class="rounded-circle" width="120">
                    <div class="mt-3">
                        <h4>Mario Rossi</h4>
                    </div>
                </div>
                <hr class="my-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0">Telefono</h6>
                        <span class="text-secondary">333.3333333</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0">Email</h6>
                        <span class="text-secondary">mario.rossi@gmail.com</span>
                    </li>
                </ul>
               <!--<div class="modifica d-flex justify-content-end">
                    <button class="btn btn-outline-primary"> Modifica </button>
                </div>--> 
            </div>
        </div>



        <div class="card text-center details-card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#tab1">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tab2">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#tab3">Disabled</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <!-- Contenuto della tab attiva -->
                <div id="tab1" class="tab-content active">
                  <h5 class="card-title">Tab 1 Title</h5>
                  <p class="card-text">Content for Tab 1</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <!-- Contenuto delle altre tabs (nascoste finché non vengono selezionate) -->
                <div id="tab2" class="tab-content" style="display: none;">
                  <h5 class="card-title">Tab 2 Title</h5>
                  <p class="card-text">Content for Tab 2</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div id="tab3" class="tab-content" style="display: none;">
                  <h5 class="card-title">Tab 3 Title</h5>
                  <p class="card-text">Content for Tab 3</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <!-- Aggiungi qui altri contenuti per le tabs se necessario -->
              </div>
        </div>
    </div>
</body>


