<body class="background">
    <div class="container-fluid">
        <div class="card-container  justify-content-center">
            <div class="solution_card login_size">

                <div class="loginForm">
                    <div >
                        <img src="/assets/images/logo.png" alt="Logo Modus Lab" class="logo">
                    </div>
                    <div class="form-group loginBoxes">
                        <label class="labelInput" for="name">Username</label>
                        <input style="margin: auto" type="email" class="form-control" id="username" required
                            name="email" />

                        <label class="labelInput" for="name">Password</label>
                        <input type="password" class="form-control" id="password" required name="password"
                            style="margin: auto" />

                        <button type="submit" id="button" class="btn" routerLink="home">
                            Login
                        </button>
                    </div>
                </div>
             
                <div class="card-footer">
                    <small class="text-muted">Non sei registrato? <a routerLink="registrati">Clicca qui</a></small>
                  </div>
            </div>
        </div>
    </div>
</body>