.suggerimenti {
    margin-top: 7%;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fffdfd;
    /* Cambia il colore di sfondo del footer se necessario */
    padding: 20px 0;
    /* Aggiungi spazio intorno al contenuto del footer */
    text-align: center;
    /* Centra il contenuto del footer */
  }


  .card .row {
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
  }

  .card-container  {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    margin-top: 3%;
  }

.error-card-container {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    margin-top: 7%;
  }

  .card-container .solution_card {
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
      0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.3s;
    color: #0f1e57;
  }


  .card-container .cards_size {
    width: 37vh;
    height: 20vh;
    margin-right: 1vh;
    margin-top: -3vh;
    margin-left: 1vh;
    text-align: center;
  }


  .card-container .solution_card:hover {
    background: #c8e7f7;
    color: #00aaff;
    transform: scale(1.1);
    z-index: 9;
    cursor: pointer;
  }

  .card-container .solution_card:before {
    content: "";
    position: absolute;
    background: rgb(85 108 214 / 5%);
    width: 100px;
    height: 200px;
    z-index: -1;
    transform: rotate(42deg);
    right: -56px;
    top: -23px;
    border-radius: 35px;
  }

  .arrow-right {
    position: absolute;
    bottom: 10%;
    right: 10%;
  }

  .error-card-container .error_card_size {
    width: 45vh;
    height: 30vh;
    margin-right: 1vh;
    margin-top: -3vh;
    margin-left: 1vh;
    text-align: center;
  }

  .error-card-container .error_solution_card {
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
      0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.3s;
    color: #0f1e57;
    text-align: center;
  }

  .error-text{
    margin-top: 15%;
  }

  button {
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 24px;
    border: none;
    background-color: #f8803b;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 3%;
    color: #fff;
  }

  button:hover {
    background-color: #fd9153;
  }

  .areaPersonale {
    position: absolute;
    top: 1%;
    right: 1%;
    cursor: pointer;
  }
  .container {
    position: relative; /* Aggiungiamo posizione relativa per il posizionamento dell'icona */
  }
