<body class="background">
    <div class="container-fluid">
        <div class="card-container  justify-content-center">
            <div class="solution_card login_size">

                <div class="loginForm">
                   
                    <div class="form-group loginBoxes">
                       <p style="margin-top: 15%;">Registrazione avvenuta con successo!</p>

                        <button type="submit" id="button" class="btn" routerLink="home">
                            Vai alla Home
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>