.navbar-custom {
  background-color: #00aaff;
  /* Celeste */
}

.logo {
  width: 200px;
  height: 40px;
  margin-left: 15px;
}

.cart{
  margin-right: 1%;
  cursor: pointer;
}

.areaPersonale{
  margin-right: 1%;
  cursor: pointer;
}

